table{
    border-collapse: collapse;
    width: 60vw;
}
td,th{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
}

th{
    background-color: gray;
}
/*Efeito zebrado*/
tr:nth-child(even){
    background-color:
     lightblue;
}