*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

main{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    max-width: 40vw;
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 48%vw;
    margin-top: 15px;
    cursor: pointer;
}

button[type="reset"]{
    background-color: red;
}